body{
	text-align: center;
}
h1{
	text-align: center;
	text-decoration: underline;
	color: white;
	background-color: red;
}
li{
	text-align: left;
}


}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
h2{
	text-align: center;
	text-decoration: underline;
	color: white;
	background-color: black;